services:
  app:
    container_name: mitai-app
    build:
      context: .
      dockerfile: Dockerfile.dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    ports:
      - "3001:3000"
    env_file:
      - .env.local
    environment:
      - WATCHPACK_POLLING=true # Often helps with hot reload across file systems
    restart: always
